<!DOCTYPE html>
<html>
<head>
	<title>Chat</title>

	
</head>
<body>

<style type="text/css">
	
	li{
		list-style-type: none;
	}

	#new{

		width: 700px;
	}

	div{

		width: 900px;
		margin: auto;
	}



</style>

<div>



	<ul id="messages"></ul>

	<form action="">
			
		<label>Write message <input id="new" type="text"></label>
		<input id="m" type="submit">

	</form>

</div>


<script src="https://code.jquery.com/jquery-1.11.1.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.3/socket.io.js"></script>


<script type="text/javascript">



	var pseudo = prompt("Enter pseudo");



	$(function() {

	    var socket = io();

		$('form').submit(function(){

			socket.emit('chat', $('#new').val());

		    $('#new').val('');

		    return false;


		});

		socket.on('chat', function(msg){

			$('#messages').append($('<li>').text('new message from ' + pseudo + ' => ' + msg));

		});

	});



	</script>


</body>
</html>