<!DOCTYPE html>
<html>
<head>
	<title>Chat</title>

	
</head>
<body>

<style type="text/css">
	
	li{
		list-style-type: none;
	}

	#new{

		width: 700px;
	}

	div{

		width: 900px;
		margin: auto;
	}

	li{

		border: 1px solid #89C4F4;
		border-radius: 4px;
		margin: 10px;
		padding-left: 15px;

	}
	 li:hover{

	 	background-color: #DCC6E0;
	 }



</style>

<div>



	<ul id="messages"></ul>

	<form action="" id="formChat">
			
		<label>Write message <input id="new" type="text"></label>
		<input id="m" type="submit">

	</form>

	<form action="" method="post">
		<label for="submit"><input type="submit" value="Logout" name="submit"></label>
	</form>
</div>




<script src="https://code.jquery.com/jquery-1.11.1.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.3/socket.io.js"></script>


<script type="text/javascript">




	$(function() {

	    var socket = io();

		$('#formChat').submit(function(){

			socket.emit('chat', $('#new').val());

		    $('#new').val('');

		    return false;

		});

		socket.on('chat', function(msg){


			$('#messages').append($('<li>').text('new message => ' + msg));



		});

	});

	if ($('#messages').children() > 1 ) {

		console.log('azertyuik');

	}




	</script>


</body>
</html>