<!DOCTYPE html>
<html>
<head>
	<title>Login</title>

	
</head>
<body>


<style type="text/css">
	
	input{
		width: 350px;
		
	}

</style>

	<label> Login : <br/><input type="text"></input></label><br/><br/>

	<label> Password : <br/><input type="password"></input></label>


</body>
</html>