<!DOCTYPE html>
<html>
<head>
	<title>Registration</title>

	
</head>
<body>


<style type="text/css">
	
	input{

		width: 350px;
		
	}

	form{

		width: 900px;
		margin: auto;
		margin-top: 15%;
		text-align: left;
		padding: 10px;
	}

	#submit{

		width: 125px;
	}

</style>
	
	<form method="post">

		<label for="login"> Login : <br/><input type="text" name="login" id="login"></input></label><br/><br/>

		<label for="password"> Password : <br/><input type="password" name="password" id="password"></input></label><br/><br/>

		<input id="submit" type="submit">
	
	</form>

</body>
</html>